*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.2rem 4rem;
}

.navbar h1{
  color: rgb(250, 120, 90);
}

.navbar ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar-items{
  font-size: 1.2rem;
  list-style: none;
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
}

.navbar-items:hover,.navbar-items:active{
  text-decoration: underline;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #337ab7;
  padding: 8rem 4rem;
  color: white;
}

.home h2{
  font-size: 5rem;
}

.home-subtitle{
  font-size: 1.4rem;
  margin-top: 1rem;
}

.home-text{
  width: 30rem;
}

.home-bold{
  color: rgb(250, 120, 90);
}

.movie-card{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 3rem;
  color: black;
  cursor: pointer;
}

.movie-card-texts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-cards-container{
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  margin-top: 1rem;
}

.movie-card button{
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

.movie-card-image{
  width: 4rem;
  border-radius: 10px;
}

.movie-card-year{
  color: grey;
}

.movies{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.movies h2{
  font-size: 3rem;
  color: rgb(250, 120, 90);
}

.movie-item-title{
  font-weight: bold;
  font-size: 0.9rem;
}

.movie-item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-item-image{
  width: 192px;
  height: 288px;
  border-radius: 10px;
  cursor: pointer;
}

.movie-item-desc{
  font-size: 0.8rem;
  width: 12rem;
}

.movies-grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 10rem;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
}

.footer{
  margin-top: 3rem;
  background-color: #337ab7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.footer-inside{
  display: flex;
  gap: 1rem;
}

.footer-title{
  font-size: 2rem;
  color: rgb(250, 120, 90);
  font-weight: bold;
}

.error-text{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item-page{
  background-color:#337ab7;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item-page-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.item-page-texts{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 40rem;
}

.item-page-texts h2{
  font-size: 3.5rem;
}

.item-page-texts h5{
  font-size: 1.2rem;
}

.item-page-texts-inner{
  display: flex;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  color:rgba(238, 240, 242, 0.835);;
}

.item-page-buttons{
  display: flex;
  gap: 2rem;
}

.item-page-buttons button{
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid rgb(250, 120, 90);
  font-size: 1rem;
  color: white;
}

.item-page-buttons button:hover{
  background-color:  rgb(250, 120, 90);
  cursor: pointer;
}

.item-page-image{
  width: 18rem;
  border-radius: 10px;
}

.item-page-rates{
  display: flex;
  position: absolute;
  color: black;
  bottom: -5.2rem;
  left: 8%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 2px 2px 20px 0px;
  border-radius: 20px;

}

.dislikes{
  border-left: 1px solid grey;
}


.likes,.dislikes{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.heart{
  width: 2.2rem;
  color: green;
}

.thumbs-down{
  width: 2.2rem;
  color: red;
}

.item-rates-text{
  font-size: 1.2rem;
  font-weight: bold;
}

.item-down-buttons{
  margin-top: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.item-down-buttons button{
  background-color: rgb(238, 240, 242);
  padding: 1rem 3rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.item-down-buttons button:active, .item-down-buttons button:hover{
  background-color: #337ab7;
  color: white;
}

.favorites-title{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.fail-favorite{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.favorites-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-bar{
  margin-top: 2rem;
  border-radius: 20px;
  border: 1px solid rgb(250, 120, 90);
  width: 20rem;
  padding-left: 1rem;
  height: 3rem;
}

.submit-favorite{
  margin-left: 1rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(238, 240, 242);
  color: black;
}

.submit-favorite:active, .submit-favorite:hover{
  background-color: #337ab7;
  color: white;
}

.no-movie-found{
  color: red;
  margin-top: 1rem;
}

.login-form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-login{
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(238, 240, 242);
  color: black;
}

.submit-login:active, .submit-login:hover{
  background-color: #337ab7;
  color: white;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image{
  width: 16rem;
  color: rgba(128, 128, 128, 0.321);
}

.profile-follows{
  display: flex;
  justify-content: center;
  gap: 10px;
}